beautifulsoup4==4.9.3
cairocffi==1.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
decorator==4.4.2
gizeh==0.1.11
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
moviepy==1.0.3
numpy==1.19.5
Pillow==8.1.0
proglog==0.1.9
pycparser==2.20
pytube==10.4.1
requests==2.25.1
soupsieve==2.1
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.2
